#### Imports

In [9]:
import pandas as pd
from keras.models import Sequential
from keras.layers import Dense

#### Reading the dataset

In [14]:
dataset = pd.read_csv("Tic Tac Toe/tic-tac-toe.data")

dataset

,top-left,top-middle,top-right,middle-left,middle-center,middle-right,bottom-left,bottom-middle,bottom-right,class
0,x,x,x,x,o,o,x,o,o,positive
1,x,x,x,x,o,o,o,x,o,positive
2,x,x,x,x,o,o,o,o,x,positive
3,x,x,x,x,o,o,o,b,b,positive
4,x,x,x,x,o,o,b,o,b,positive
...,...,...,...,...,...,...,...,...,...,...
953,o,x,x,x,o,o,o,x,x,negative
954,o,x,o,x,x,o,x,o,x,negative
955,o,x,o,x,o,x,x,o,x,negative
956,o,x,o,o,x,x,x,o,x,negative
957,o,o,x,x,x,o,o,x,x,negative

#### Converting the data numerical values

In [20]:
features = ['top-left', 'top-middle', 'top-right', 'middle-left', 'middle-center', 'middle-right', 'bottom-left', 'bottom-middle', 'bottom-right']

for feature in features:
    dataset[feature] = dataset[feature].replace('x', 1).replace('b', 0).replace('o', -1)

dataset['class'] = dataset['class'].replace('positive', 1).replace('negative', 0)

dataset

,top-left,top-middle,top-right,middle-left,middle-center,middle-right,bottom-left,bottom-middle,bottom-right,class
0,1,1,1,1,-1,-1,1,-1,-1,1
1,1,1,1,1,-1,-1,-1,1,-1,1
2,1,1,1,1,-1,-1,-1,-1,1,1
3,1,1,1,1,-1,-1,-1,0,0,1
4,1,1,1,1,-1,-1,0,-1,0,1
...,...,...,...,...,...,...,...,...,...,...
953,-1,1,1,1,-1,-1,-1,1,1,0
954,-1,1,-1,1,1,-1,1,-1,1,0
955,-1,1,-1,1,-1,1,1,-1,1,0
956,-1,1,-1,-1,1,1,1,-1,1,0
957,-1,-1,1,1,1,-1,-1,1,1,0