#### Imports

In [114]:
import pandas as pd
from keras.models import Sequential
from keras.layers import Dense
from sklearn.model_selection import train_test_split

#### Reading the dataset

In [115]:
dataset = pd.read_csv("Tic Tac Toe/tic-tac-toe.data")

dataset

,top-left,top-middle,top-right,middle-left,middle-center,middle-right,bottom-left,bottom-middle,bottom-right,class
0,x,x,x,x,o,o,x,o,o,positive
1,x,x,x,x,o,o,o,x,o,positive
2,x,x,x,x,o,o,o,o,x,positive
3,x,x,x,x,o,o,o,b,b,positive
4,x,x,x,x,o,o,b,o,b,positive
...,...,...,...,...,...,...,...,...,...,...
953,o,x,x,x,o,o,o,x,x,negative
954,o,x,o,x,x,o,x,o,x,negative
955,o,x,o,x,o,x,x,o,x,negative
956,o,x,o,o,x,x,x,o,x,negative
957,o,o,x,x,x,o,o,x,x,negative

#### Converting the data numerical values

In [116]:
features = ['top-left', 'top-middle', 'top-right', 'middle-left', 'middle-center', 'middle-right', 'bottom-left', 'bottom-middle', 'bottom-right']

for feature in features:
    dataset[feature] = dataset[feature].replace('x', 1).replace('b', 0).replace('o', -1)

dataset['class'] = dataset['class'].replace('positive', 1).replace('negative', 0)

dataset

,top-left,top-middle,top-right,middle-left,middle-center,middle-right,bottom-left,bottom-middle,bottom-right,class
0,1,1,1,1,-1,-1,1,-1,-1,1
1,1,1,1,1,-1,-1,-1,1,-1,1
2,1,1,1,1,-1,-1,-1,-1,1,1
3,1,1,1,1,-1,-1,-1,0,0,1
4,1,1,1,1,-1,-1,0,-1,0,1
...,...,...,...,...,...,...,...,...,...,...
953,-1,1,1,1,-1,-1,-1,1,1,0
954,-1,1,-1,1,1,-1,1,-1,1,0
955,-1,1,-1,1,-1,1,1,-1,1,0
956,-1,1,-1,-1,1,1,1,-1,1,0
957,-1,-1,1,1,1,-1,-1,1,1,0

#### Split the data in training and testing sets

In [117]:
X = dataset.iloc[:, :-1]
y = dataset.iloc[:,-1]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

#### Defining the model

In [141]:
model = Sequential()

# Input layer
model.add(Dense(9, activation='sigmoid', input_shape=(9,)))

# Hidden layer
model.add(Dense(9, activation='sigmoid'))

# Output layer
model.add(Dense(1, activation='sigmoid'))

model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
model.fit(X_train, y_train, epochs=20, batch_size=1, verbose=1)

Epoch 1/20
766/766 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - accuracy: 0.6487 - loss: 0.6439
Epoch 2/20
766/766 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.6746 - loss: 0.6057
Epoch 3/20
766/766 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.6659 - loss: 0.6019
Epoch 4/20
766/766 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7279 - loss: 0.5764
Epoch 5/20
766/766 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7307 - loss: 0.5644
Epoch 6/20
766/766 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7494 - loss: 0.5360
Epoch 7/20
766/766 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7609 - loss: 0.4970
Epoch 8/20
766/766 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7823 - loss: 0.4784
Epoch 9/20
766/766 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7755 - loss: 0.4788
Epoch 10/20
766/766 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8033 - loss: 0.4627
Epoch 11/20
766/766 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8153 - loss: 0.4268
Epoch 12/20
766/766 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8351 - loss: 0.4097
Epoch 13/20
766/766 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8508 - loss: 0.3857
Epoch 14/20
766/766 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8826 - loss: 0.3334
Epoch 15/20
766/766 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.9395 - loss: 0.2954
Epoch 16/20
766/766 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.9702 - loss: 0.2333
Epoch 17/20
766/766 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.9866 - loss: 0.1803
Epoch 18/20
766/766 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.9896 - loss: 0.1596
Epoch 19/20
766/766 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.9888 - loss: 0.1285
Epoch 20/20
766/766 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.9916 - loss: 0.1028